/* Global Styles */
html, body {
  height: 100%; /* Aseguramos que el fondo cubra toda la pantalla */
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff !important; /* Aquí defines el color de fondo global */
  color: #000000;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%; /* Aseguramos que ocupe toda la altura disponible */
}

/* Navbar Styles */
.navbar {
  background-color: #FAF3E0 !important;  /* Color amarillo (Dorado) */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.navbar-brand, .nav-link {
  color: #000000 !important; /* Texto oscuro para buen contraste con el fondo amarillo */
  font-weight: bold;
}

.navbar-brand {
  font-size: 2rem;
  text-align: center;
}

.navbar-nav .nav-link:hover {
  color: #555 !important; /* Enlaces se vuelven más oscuros al pasar el ratón */
}

/* Carousel Styles */
.carousel-item img {
  max-height: 500px;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
}

.carousel-caption h5 {
  font-size: 2rem;
  color: #ffcc00;
}

.carousel-caption p {
  font-size: 1.2rem;
  color: #fff;
}

/* About Us Section Styles */
section {
  background-color: #8f8f8f !important;
  padding: 3rem 1.5rem;
}

section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

section p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  color: #ffffff;
}

/* Responsive */
@media (max-width: 768px) {
  .carousel-caption h5 {
    font-size: 1.5rem;
  }
  .carousel-caption p {
    font-size: 1rem;
  }

  section h2 {
    font-size: 2rem;
  }

  section p {
    font-size: 1rem;
  }
}
